{% extends "resume/base.html" %}
{% load resume_tags %}
{% load static %}

{% block content %}
<table class="cards" border="0" cellspacing="0">
    {% for r in resumes %}

        {% if forloop.counter|add:2|divisibleby:"3" %}
        <tr>
            <td>
        {% else %}
                <td>

        {% endif %}
         <a href="{{ r.get_absolute_url }}">
        {% show_user_card r %}
         </a>
        {% if forloop.counter|divisibleby:"3" %}
            </td></tr>

        {% else %}
                </td>

        {% endif %}

    {% endfor %}
</table>
<ul class="pages">
{% for _ in all_pages %}
    <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
{% endfor %}
</ul>
{% endblock content %}