{% extends "resume/base.html" %}
{% load static %}
{% block content %}

<table>
    <tr>
        <td>
            {% if resume.photo %}
            <img style = "height: 400px; width: 300px;" src="{{resume.photo.url}}" alt="Изображение">
            {% else %}
            <img style = "height: 400px; width: 300px;" src="{% static 'resume/img/test_img.jpg' %}" alt="Изображение">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <h1>{{resume.title}}</h1>
            <p>{{resume.letter}}</p>

            {% if resume.education.all %}
                <h2>Образование</h2>
                {% for ed in resume.education.all %}
                    <p>{{ed}}</p>{% if resume.user.username == username%}<a href="{% url 'delete_education' ed.pk %}">Удалить</a>{% endif %}
                {% endfor %}
            {% endif %}

            {% if resume.experience.all %}
            <h2>Опыт работы</h2>
                {% for ex in resume.experience.all %}
                    <p>{{ex}}</p>{% if resume.user.username == username%}<a href="{% url 'delete_experience' ex.pk %}">Удалить</a>{% endif %}
                {% endfor %}
            {% endif %}
        </td>

    </tr>


</table>
{% if resume.user.username == username%}
<ul class="menu">
    <li><a href="{% url 'update_resume' resume.slug %}">Редактировать</a></li>
    <li><a href="{% url 'add_education' resume.slug %}">Добавить образование</a></li>
    <li><a href="{% url 'add_experience' resume.slug %}">Добавить опыт работы</a></li>
</ul>
{% endif %}
{% endblock content %}