{% load static %}
<div class="card-wrapper">
    <div class="card">
        <ul class="crd">
            {% if resume.photo %}
            <li><img src="{{resume.photo.url}}" alt="Изображение"></li>
            {% else %}
            <li><img src="{% static 'resume/img/test_img.jpg' %}" alt="Изображение"></li>
            {% endif %}
            <li>
                <div class="card-info">
                    <h2>{{resume.title}}</h2>
                    <p>{{resume.letter}}</p>
                </div>
             </li>
        </ul>
    </div>
</div>


